<!DOCTYPE html>
<html lang="en">
<head>
    <title>Best Food</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Staple Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<form style="display:none" name="contact_data" id="contact_data">
    <input type="hidden" name="userId" id="userId" value="<%= userId %>"/>
</form>

<body>
<!-- banner -->
<div class="banner about-w3bnr">
    <!-- header -->
    <div class="header">
        <div class="w3ls-header"><!-- header-one -->
            <div class="container">
                <div class="w3ls-header-left">
                    <p>나의 스탬프 관리</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //header-one -->
        <!-- navigation -->
        <div class="navigation agiletop-nav">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header w3l_logo">
                        <button id="papa-menu" type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 style="float:left;color:#CD853F">PaPa<p style="float:right;font-size:0.6em;margin-left:10px;color:#EE82EE">Stamp</p>
                            <a><span>Stamp Management System</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a style="color:#CD853F;" href="/map/v1.0/mapMain/<%= userId %>">Home</a></li>
                            <li><a href="/contact/<%= userId %>" class="active">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //navigation -->
    </div>
    <!-- //header-end -->
    <!-- banner-text -->
    <div class="banner-text">
    </div>
</div>
<!-- //banner -->
<!-- breadcrumb -->
<div class="container">
    <ol class="breadcrumb w3l-crumbs">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Contact Us</li>
    </ol>
</div>
<!-- //breadcrumb -->
<!-- contact -->
<div id="contact" class="contact cd-section">
    <div class="container">
        <div class="contact-row agileits-w3layouts">
            <!--<div class="col-xs-6 col-sm-6 contact-w3lsleft">
                <div class="contact-grid agileits">
                    <h4>문의 양식 </h4>
                    <form action="#" method="post">
                        <input type="text" name="Name" placeholder="이름" required="">
                        <input type="email" name="Email" placeholder="E-mail" required="">
                        <input type="text" name="Phone Number" placeholder="연락처" required="">
                        <textarea name="Message" placeholder="메세지..." required=""></textarea>
                        <input type="submit" value="담당자에게 문자 보내기" >
                    </form>
                </div>
            </div>-->
            <ul>
                <div style=" text-align: center;">
                    <img style="width:150px;margin-left:15px;margin-right:5px;" src="/images/papastamp_app_icon-web.png">
                </div>
            </ul>
            <div class="col-xs-6 col-sm-6 contact-w3lsright">
                <h6><span>지점 등록 : </span> 저희 파파 스탬프에 등록을 원하시는 분께서는 언제든지 연락 주시기 바랍니다.</h6>
                <h6> 항상 서비스 제공에 최선을 다하도록 하겠습니다.</h6>

                <div class="address-row w3-agileits">
                    <div class="col-xs-2 address-left">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10 address-right">
                        <h5>PaPa Stamp 담당자 메일</h5>
                        <p><a href="mailto:info@example.com"> papastamp@naver.com</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="address-row">
                    <div class="col-xs-2 address-left">
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10 address-right">
                        <h5>PaPa Stamp 담당자 연락처</h5>
                        <p>010 - 3729 - 1715</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="address-row">
                    <img style="float:left;width:50px;margin-right:3px;" src="/images/kakao.png"/>
                    <div class="col-xs-10 address-right">
                        <h5>PaPa Stamp 플러스 친구</h5>
                        <p>파파스탬프</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //contact -->
<div class="copyw3-agile">
    <div class="container">
        <p>&copy; 2017 Staple Food. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>
<!-- //footer -->
<!-- cart-js -->
<script src="/js/bootstrap.js"></script>
</body>
</html>