<!DOCTYPE html>
<html lang="en">
<head>
    <title>Best Food</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Staple Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<form style="display:none" name="current_data" id="current_data">
    <input type="hidden" name="url" id="url" value="<%= url %>"/>
    <input type="hidden" name="shop_length" id="shop_length" value=""/>
    <input type="hidden" name="current_lat" id="current_lat" value=""/>
    <input type="hidden" name="current_lon" id="current_lon" value=""/>
    <input type="hidden" name="current_addr" id="current_addr" value=""/>
</form>

<form style="display:none" name="shop_addr_list" id="shop_addr_list">
</form>

<body>
<!-- banner -->
<div class="banner about-w3bnr">
    <!-- header -->
    <div class="header">
        <div class="w3ls-header"><!-- header-one -->
            <div class="container">
                <div class="w3ls-header-left">
                    <p>우리 동네 최고의 맛집</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //header-one -->
        <!-- navigation -->
        <div class="navigation agiletop-nav">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header w3l_logo">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a href="main">Befoo<span>Best Food Shop</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="main">Home</a></li>
                            <!-- Mega Menu -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">지역별<b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6 class="dropdown">서울</h6>
                                                <li><a href="">강남구</a></li>
                                                <li><a href="">강동구</a></li>
                                                <li><a href="">강북구</a></li>
                                                <li><a href="">강서구</a></li>
                                                <li><a href="">관악구</a></li>
                                                <li><a href="">광진구</a></li>
                                                <li><a href="">구로구</a></li>
                                                <li><a href="">금천구</a></li>
                                                <li><a href="">노원구</a></li>
                                                <li><a href="">도봉구</a></li>
                                                <li><a href="">동대문구</a></li>
                                                <li><a href="">동작구</a></li>
                                                <li><a href="">마포구</a></li>
                                                <li><a href="">서대문구</a></li>
                                                <li><a href="">서초구</a></li>
                                                <li><a href="">성동구</a></li>
                                                <li><a href="">성북구</a></li>
                                                <li><a href="">송파구</a></li>
                                                <li><a href="">양천구</a></li>
                                                <li><a href="">영등포구</a></li>
                                                <li><a href="">용산구</a></li>
                                                <li><a href="">은평구</a></li>
                                                <li><a href="">종로구</a></li>
                                                <li><a href="">중구</a></li>
                                                <li><a href="">중량구</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <h6>경기</h6>
                                                <li><a href="">가평군</a></li>
                                                <li><a href="">고양시 덕양구</a></li>
                                                <li><a href="">고양시 일산동구</a></li>
                                                <li><a href="">고양시 일산서구</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li><a href="contact.html" class="active">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //navigation -->
    </div>
    <!-- //header-end -->
    <!-- banner-text -->
    <div class="banner-text">
    </div>
</div>
<!-- //banner -->
<!-- breadcrumb -->
<div class="container">
    <ol class="breadcrumb w3l-crumbs">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Contact Us</li>
    </ol>
</div>
<!-- //breadcrumb -->
<!-- contact -->
<div id="contact" class="contact cd-section">
    <div class="container">
        <div class="contact-row agileits-w3layouts">
            <div class="col-xs-6 col-sm-6 contact-w3lsleft">
                <div class="contact-grid agileits">
                    <h4>문의 양식 </h4>
                    <form action="#" method="post">
                        <input type="text" name="Name" placeholder="이름" required="">
                        <input type="email" name="Email" placeholder="E-mail" required="">
                        <input type="text" name="Phone Number" placeholder="연락처" required="">
                        <textarea name="Message" placeholder="메세지..." required=""></textarea>
                        <input type="submit" value="담당자에게 문자 보내기" >
                    </form>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 contact-w3lsright">
                <h6><span>지점 등록 : </span>  저희 베스트 푸드에서는 대중들에게 인기 있는 검증된 업체만을 선별해서 등록하고 있습니다.</h6>
                <h6>연락 주시면 찾아 뵙도록 하겠습니다.</h6>

                <div class="address-row w3-agileits">
                    <div class="col-xs-2 address-left">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10 address-right">
                        <h5>Befoo 담당자 메일</h5>
                        <p><a href="mailto:info@example.com"> fromjaelee@naver.com</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="address-row">
                    <div class="col-xs-2 address-left">
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10 address-right">
                        <h5>Befoo 담당자 연락처</h5>
                        <p>010 - 2618 - 1715</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //contact -->
<div class="copyw3-agile">
    <div class="container">
        <p>&copy; 2017 Staple Food. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>
<!-- //footer -->
<!-- cart-js -->
<script src="js/minicart.js"></script>
</body>
</html>