<!DOCTYPE html>
<html lang="ko">
<head>

    <title>Samsung</title>
    <meta name="title" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Samsung">
    <meta property="og:locale" content="ko">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:country-name" content="">

    <meta itemprop="name" content="Samsung">
    <meta itemprop="image" content="">
    <meta itemprop="url" content="">
    <meta itemprop="description" content="">
    <meta itemprop="keywords" content="">
    <style type="text/css">
        #restaurant_find_local_map{width:100%;height:50%;}
    </style>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=HzG9TZi2bzeiGmAPQyV0eAPYzea02TbU"></script>
    <script type ="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/ios_scalable.js"></script>
</head>

<body>
<div id="container">
    <a href="/food"><p class="back_arrow"><img src="/images/btn_back_w@3x.png"></a>
    <div id="header">
        <span class="part"></span><span class="head_ti">맛집</span>
    </div>
        <div id="restaurant_find_local_map"></div>
        <!--<form id='transport' action="/food/transport" method="post" enctype="application/x-www-form-urlencoded">-->
            <div id="restaurant_find_local_list_wrap"></div>
        <!--</form>-->
    </div>
</div>
</body>
</html>

<script type ="text/javascript">


    $(function(){
            $.ajax({
                url: 'http://nbnl.couphone.cn:8080/food/shopList',
//                url: 'http://127.0.0.1:8080/food/shopList',
                type: 'GET',
                success: function(data) {
                    var geoCodeSet = new Array();
                    $.each(data.data, function(index, value) {

                        var foodId = value.FOOD_ID;
                        var foodNameCn = value.FOOD_NAME_CN;
                        var foodNameKr = value.FOOD_NAME_KR;
                        var foodTypeKr = value.FOOD_TYPE_KR;
                        var foodScope = value.FOOD_SCOPE;
                        var capitaPrice = value.CAPITA_PRICE;
                        var longitude = value.LONGITUDE_WALK;
                        var latitude = value.LATITUDE_WALK;
                        var parameter = "'transport" + (index+1) + "'";

                        var dynamicDom = '<form id="transport'+(index+1)+ '" action="/food/transport" method="get" enctype="application/x-www-form-urlencoded">' +
                                            '<input type="hidden" name="foodId" value="' + foodId + '">' +
                                            '<input type="hidden" name="transportType" value="walking">' +
                                            '<div id="restaurant_find_local_list">' +
                                                '<div class="fir"><span class="ic_last_pin">' + (index+1) + '</span></div>' +
                                                    '<a href = "/food/shopInfo?id='+ foodId +'"><div class="sec"><ul class="info">' +
                                                        '<li class="res_name">' + foodNameCn+ '<span class="kor">' + '(' + foodNameKr + ')' + '</span></li>' +
                                                            '<li class="price">' + foodTypeKr + '</li>' +
                                                                '<li class="star">';
                        dynamicDom = getRating(foodScope, dynamicDom);
                        dynamicDom += '<span class="txt">' + foodScope + ' ・ ' + capitaPrice + '</span>' +
                                            '</li>' +
                                    '</ul></div></a>'+
                                '<div class="thi"><span class="icon" onclick="document.getElementById('+parameter+').submit();"><img src="/images/btn_ic_direction@3x.png"></a></span></div>' +
                            '<div class="clear_both"></div>' +
                            '</div></form>';

                        $('#restaurant_find_local_list_wrap').append(dynamicDom);

                        geoCodeSet.push({longitude : longitude, latitude : latitude}); // 위도 경도 셋
                    });
                    initMap(geoCodeSet);
                },
                error: function(request, status, error) {
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    console.log('Error occured');
                }
            })
    });

    var getRating = function(foodScope, dynamicDom) {
        var rating = foodScope * 2;
        var fullStar = foodScope;
        var halfStar = false;

        // 별 반개가 남으면 홀수, 아니면 짝수
        if (rating % 2 == 1) {
            halfStar = true;
            fullStar -= 0.5;
        }

        for (var i = 1; i <= 5; i++) {
            if (i <= fullStar) {
                dynamicDom += '<img src="/images/star@3x.png">';
            } else if (halfStar) {
                dynamicDom += '<img src="/images/star_half@3x.png">';
                halfStar = false;
            } else {
                dynamicDom += '<img src="/images/star_dim@3x.png" alt="딤드별">';
            }
        }
        return dynamicDom;
    }

    var initMap = function (geoCodeSet) {
        var map = new BMap.Map("restaurant_find_local_map");
        var mPoint = new BMap.Point(121.4943225398708, 31.244152571300409);

        console.log('geoCodeSet : ', geoCodeSet);

        var points = new Array();
        for(var i in geoCodeSet){
            points.push(new BMap.Point(geoCodeSet[i].longitude, geoCodeSet[i].latitude));
        }

        console.log('points :', points);

        for(var i in points){
            map.addOverlay(new BMap.Marker(points[i]));
        }
        var Points = [ new BMap.Point ( 116.401801 , 39.912114 ), new BMap.Point ( 116.402802 , 39.912225 ), new BMap.Point ( 116.403803 , 39.912336 ), new BMap.Point ( 116.404804 , 39.912447 ), new BMap.Point ( 116.405805 , 39.912558 ), new BMap.Point ( 116.406806 , 39.912669 ), new BMap.Point ( 116.407804 , 39.912123 ) ];

//        var MARKER1 = new BMap.Marker (Points [ 0 ]);    // create seven marked
//        var MARKER2 = new BMap.Marker (Points [ 1 ]);
//        var marker3 = new  BMap.Marker (Points [ 2 ]);
//        var marker4 = new  BMap.Marker (Points [ 3 ]);
//        var marker5 = new  BMap.Marker (Points [ 4 ]);
//        var marker6 = new  BMap.Marker (Points [ 5 ]);
//        var marker7 = new  BMap.Marker (Points [ 6 ]);

//        var marker = new BMap.Marker(mPoint);

//        map.centerAndZoom(mPoint, 20);
                map.enableScrollWheelZoom();

//        }

        map.centerAndZoom (mPoint, 16 );
        map.setViewport (points);


        //var circle = new BMap.Circle(mPoint,1000,{fillColor:"blue", strokeWeight: 1 ,fillOpacity: 0.3, strokeOpacity: 0.3});


        var bounds = map.getBounds();

//        console.log(bounds);
//        console.log(map.getBounds().getNorthEast()); // 북동쪽
//        console.log(map.getBounds().getSouthWest()); // 남서쪽

//        map.addOverlay(marker);
//        map.addOverlay(MARKER1);
//        map.addOverlay(MARKER2);
//        map.addOverlay(marker3);
//        map.addOverlay(marker4);
//        map.addOverlay(marker5);
//        map.addOverlay(marker6);
//        map.addOverlay(marker7);
    }

    //Map.addControl ( new new BMap.NavigationControl ())
    //marker7.addEventListener ( " the Click " , function () {         // the marker7 add event
    //    map.setViewport (Points);　　　　　　　　　　　　　　});
</script>