<!DOCTYPE html>
<html lang="ko">
<head>

    <title>출발지 지정</title>
    <meta name="title" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Samsung">
    <meta property="og:locale" content="ko">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:country-name" content="">

    <meta itemprop="name" content="Samsung">
    <meta itemprop="image" content="">
    <meta itemprop="url" content="">
    <meta itemprop="description" content="">
    <meta itemprop="keywords" content="">

    <style type="text/css">
        #taxi_find_local_map{width:100%;height:100%;}
    </style>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script type="text/javascript" src="/js/ios_scalable.js"></script>
    <script type ="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=HzG9TZi2bzeiGmAPQyV0eAPYzea02TbU"></script>
    <script src="http://52.79.56.181:8060/socket.io/socket.io.js"></script>
</head>

<body id="back_100">
<!--<div>-->
<input type="hidden" id="lat" name="lat" value="">
<input type="hidden" id="lng" name="lng" value="">
<input type="hidden" id="nickName" name="nickName" value=<%=nickName%>>
<div id="header">
    <p class="btn_send" id="btnSend">보내기</p>
    <div class="address" name="address" id ='address'></div>
</div>

<!--<span class="dot_location"></span>-->
<!-- Focus -->
<!--<div class="ic_location_wrap"><span class="ic_location"><img src="/images/ic_location@3x.png"></span></div>-->
<div id="taxi_find_local_map"></div>
<!--</div>-->
</body>

</html>

<script type ="text/javascript">

    $(function(){
        var socket = io.connect('http://52.79.56.181:8060');
        var map = new BMap.Map("taxi_find_local_map");

        var navigationControl = new BMap.NavigationControl({
            anchor: BMAP_ANCHOR_BOTTOM_LEFT,
            type: BMAP_NAVIGATION_CONTROL_LARGE,
            enableGeolocation: true
        });

        var geolocationControl = new BMap.GeolocationControl({
            anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
            type: BMAP_NAVIGATION_CONTROL_LARGE,
            enableGeolocation: true
        })

        map.addControl(navigationControl);
        map.addControl(geolocationControl);
//
//        var address = '';
//        var addressComponent = {
//            province : '上海市',
//            city : '上海市',
//            district : '黄浦区',
//            street : '百翎路',
//            streetNumber :'1号'
//        }
//
//        address += addressComponent.province;
//        address += addressComponent.city;
//        address += addressComponent.district;
//        address += addressComponent.street;
//        address += addressComponent.streetNumber;

        getLocation();

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getPosition);
            } else {
                console.log('Error', 'Geolocation is not supported by this browser."');
            }
        }

        function getPosition(position) {

            var longitude = position.coords.longitude;
            var latitude = position.coords.latitude;

            var mPoint = new BMap.Point(longitude, latitude);
            map.enableScrollWheelZoom();
            map.centerAndZoom (mPoint, 20);

            $('#lng').val(longitude);
            $('#lat').val(latitude);

            var mkr = new BMap.Marker(mPoint);
            map.addOverlay(mkr);

            map.addEventListener("dragend", function () {

                var neLat = map.getBounds().getNorthEast().lat;
                var neLng = map.getBounds().getNorthEast().lng;
                var swLat = map.getBounds().getSouthWest().lat;
                var swLng = map.getBounds().getSouthWest().lng;

                var longitude = (neLng + swLng) / 2;
                var latitude = (neLat + swLat) / 2;

                console.log('dragend_lat',latitude);
                console.log('dragend_lng',longitude);

                var mPoint = new BMap.Point(longitude, latitude);

                $('#lng').val(longitude);
                $('#lat').val(latitude);

                var mkr = new BMap.Marker(mPoint);
                map.addOverlay(mkr);

                $.ajax({
                    url: 'http://nbnl.couphone.cn/food/currentLocation',
                    type: 'POST',
                    data: {lng : longitude,
                        lat : latitude},
                    success: function (data) {
                        $('#address').val(data.address);
                    },
                    error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                        console.log('Error occured');
                    }
                })
            });

            $.ajax({
                url: 'http://nbnl.couphone.cn/food/currentLocation',
                type: 'POST',
                data: {lng : longitude,
                    lat : latitude},
                success: function (data) {

                    $('#address').val(data.address);

                    $('#btnSend').click(function () {
                        var data = {
                            addr : $('#address').val(),
                            lat : $('#lat').val(),
                            lng : $('#lng').val(),
                            nickName : $('#nickName').val()
                        }
                        $.ajax({
                            url: 'http://nbnl.couphone.cn/wechat/taxiDepartSend',
                            type: 'POST',
                            data: data,
                            success: function (data) {

                                var taxiMsg = "택시 안내 요청 현위치 : " + address;

                                var content = {
                                    fromNickName : '',
                                    toNickName : data.nickName,
                                    contentType : 'text',
                                    contents : taxiMsg,
                                    type : 'saveMsg'
                                };
                                socket.emit('nbnlServer', content);
                            },
                            error: function (request, status, error) {
                                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                                console.log('Error occured');
                            }
                        });
                    });
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    console.log('Error occured');
                }
            })
        }
    });
    //                    var icon = new BMap.Icon('/images/map-marker-icon.png', new BMap.Size(20, 32), {
    //                        anchor: new BMap.Size(10, 30),
    //                        infoWindowAnchor: new BMap.Size(10, 0)
    //                    });
</script>
