<!DOCTYPE html>
<html lang="en">
<head>
    <title>Best Food</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Staple Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<form style="display:none" name="current_data" id="current_data">
    <input type="hidden" name="url" id="url" value="<%= url %>"/>
    <input type="hidden" name="userId" id="userId" value="<%= userId %>"/>
    <input type="hidden" name="userId" id="initShopId" value="7c28d1c5088f01cda7e4ca654ec88ef8"/>
    <input type="hidden" name="shop_length" id="shop_length" value=""/>
    <input type="hidden" name="current_lat" id="current_lat" value=""/>
    <input type="hidden" name="current_lng" id="current_lng" value=""/>
    <input type="hidden" name="current_addr" id="current_addr" value=""/>
</form>

<body>
<!-- banner -->
<div class="banner about-w3bnr">
    <!-- header -->
    <div class="header">
        <div class="w3ls-header" style="padding:0.3em 0"><!-- header-one -->
            <div class="container">
                <div class="w3ls-header-left">
                    <p>나의 온라인 스탬프 관리</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //header-one -->
        <!-- navigation -->
        <div class="navigation agiletop-nav">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header w3l_logo">
                        <button id="papa-menu" type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 style="float:left;color:#CD853F">PaPa<p style="float:right;font-size:0.6em;margin-left:10px;color:#EE82EE">Stamp</p>
                            <a><span>Stamp Management System</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a style="color:#CD853F;" href="/map/v1.0/mapMain/<%= userId %>">Home</a></li>
                            <li><a href="/contact/<%= userId %>" class="active">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //navigation -->
    </div>
    <!-- //header-end -->
    <!-- banner-text -->
    <div class="banner-text" style="padding:0.3em 0">
    </div>
</div>
<!-- //banner -->
<!-- breadcrumb -->
<div class="container">
    <ol class="breadcrumb w3l-crumbs">
        <li><i class="fa fa-home"></i> Home</li>
        <li class="active">
            <select id="cooperatorList" name="agileinfo_search" required="" onchange="changeShop()">
                <option value="myShop">나의 스탬프 등록 지점</option>
                <option value="papaShop" >파파 스탬프 등록 지점</option>
            </select>
        </li>

    </ol>
</div>
<!-- //breadcrumb -->
<!-- contact -->
<div id="contact" class="contact cd-section">
    <h3 class="w3ls-title">Papa Stamp Map</h3>
    <p class="w3lsorder-text">온라인으로 스탬프를 편리하게 관리하세요!!!</p>

    <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
    <div class="custom_zoomcontrol radius_border">
        <span onclick="zoomIn()"><img src="/images/ico_plus.png" alt="확대"></span>
        <span onclick="zoomOut()"><img src="/images/ico_minus.png" alt="축소"></span>
    </div>

    <!-- map -->
    <div id="map" class="map_wrap"></div>
    <!-- //map -->

    <div class="container">
        <div class="contact-row agileits-w3layouts">
            <div class="col-xs-6 col-sm-6 contact-w3lsright" id="map_list_wrap">
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

</div>
<!-- //contact -->
<div class="copyw3-agile">
    <div class="container">
        <p>&copy; 2017 Staple Food. All rights reserved | Design by <a href="https://w3layouts.com/">W3layouts</a></p>
    </div>
</div>
<!-- //footer -->

<style type="text/css">
    #map {
        touch-action: none;
    }
</style>

<!-- cart-js -->
<script src="/js/bootstrap.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1a30d2b7d0dec9ecdbd9665afa6ea7b1&autoload=false&libraries=clusterer,services"></script>

<script type="text/javascript">
    var map='';

    daum.maps.load(function() {
        var currentLat = '';//37.4979887529;
        var currentLng = '';//127.0296421998;

        var headers = {};
        headers["user_id"] = $("#userId").val();

        $.ajax({
            url: $("#url").val() + '/map/v1.0/currentLocation',
            type: 'GET',
            headers : headers,
            dataType: 'json',
            success: function(data) {
                var currentLocationData = data.currentLocationData;
                currentLat = currentLocationData.CURRENT_LAT;
                currentLng = currentLocationData.CURRENT_LNG;

                $("#current_lat").val(currentLat);
                $("#current_lng").val(currentLng);

                changeShop();
            },
            error: function(request, status, error) {
                console.error("currentLocationData : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    });

    function changeShop() {
        //console.log("change shop list");

        var currentLat = $("#current_lat").val();
        var currentLng = $("#current_lng").val();

        var currentMarkerSrc = '/images/current_point.png', // 현재 위치 마커이미지
            currentMarkerSize = new daum.maps.Size(35, 49), // 현재 위치 마커이미지의 크기
            currentMarkerOption = {offset: new daum.maps.Point(19, 58)}; // 현재 위치 마커이미지의 옵션

        var currentMarkerImage = new daum.maps.MarkerImage(currentMarkerSrc, currentMarkerSize, currentMarkerOption);
        var currentMarkerPosition = new daum.maps.LatLng(currentLat, currentLng); // 마커가 표시될 위치

        // 마커와 인포윈도우를 표시합니다
        displayMarker(currentMarkerPosition, currentMarkerImage);

        var cooperatorName = document.getElementById("cooperatorList").value;
        var cooperatorShopUrl ='/mapData/cooperator/'+cooperatorName+'.json';

        if(cooperatorName == "papaShop") {
            //shop list data 초기화
            var shopDataList = document.getElementById('map_list_wrap');
            shopDataList.innerHTML = '';

            // 마커 클러스터러를 생성합니다
            var clusterer = new daum.maps.MarkerClusterer({
                map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
                averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
                minLevel: 8 // 클러스터 할 최소 지도 레벨
            });

            var selectedMarker = null;

            $.get(cooperatorShopUrl, function(data) {
                var imageSrc = '/images/shop_point.png';
                var clickImageSrc = '/images/select_point.png';

                // 표시될 shop data
                var imageSize = new daum.maps.Size(35, 49), // 마커이미지의 크기입니다
                    imageOprion = {offset: new daum.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
                var normalImage = new daum.maps.MarkerImage(imageSrc, imageSize, imageOprion);

                // 클릭된 shop data
                var clickImageSize = new daum.maps.Size(35, 49), // 마커이미지의 크기입니다
                    clickImageOprion = {offset: new daum.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
                var clickImage = new daum.maps.MarkerImage(clickImageSrc, clickImageSize, clickImageOprion);

                var markers = $(data.positions).map(function(i, position) {
                    var marker = new daum.maps.Marker({
                        position : new daum.maps.LatLng(position.lat, position.lng),
                        image:normalImage
                    });

                    daum.maps.event.addListener(marker, 'click', function() {
                        // 클릭된 마커가 없고, click 마커가 클릭된 마커가 아니면 마커의 이미지를 클릭 이미지로 변경
                        if (!selectedMarker || selectedMarker !== marker) {
                            // 클릭된 마커 객체가 null이 아니면 클릭된 마커의 이미지를 기본 이미지로 변경하고
                            !!selectedMarker && selectedMarker.setImage(normalImage);

                            // 현재 클릭된 마커의 이미지는 클릭 이미지로 변경합니다
                            marker.setImage(clickImage);
                        }
                        // 클릭된 마커를 현재 클릭된 마커 객체로 설정합니다
                        selectedMarker = marker;
                        var headers = {};
                        headers["user_id"] = $("#userId").val();

                        //shop data
                        var dataString = {'current_lat': position.lat, 'current_lng': position.lng};
                        $.ajax({
                            url: $("#url").val() + '/map/v1.0/shopData',
                            type: 'GET',
                            headers : headers,
                            dataType: 'json',
                            data: dataString,
                            success: function(data) {
                                var shopData = data.shopData;
                                var userId = '7c28d1c5088f01cda7e4ca654ec88ef8';//data.userId;
                                var clickShopData = document.getElementById('map_list_wrap');
                                clickShopData.innerHTML = '';

                                clickShopData.innerHTML += '<div class="address-row">' +
                                    '<div class="col-xs-2 address-left">' +
                                    '<a href="/shop/v1.0/shopInfo/'+ shopData.SHOP_ID +'/'+userId+'"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>' +
                                    '</div>' +
                                    '<div class="col-xs-10 address-right">' +
                                    '<a href="javascript:"><span class="icon" style="width:55px;height:55px;" onclick="guidePapaShopLoad('+ shopData.SHOP_LAT+','+ shopData.SHOP_LNG+')"><img src="/images/map_load_pin.png" style="width:50px;"></span></a>' +
                                    '<h5 id="select_shop_name">'+ shopData.SHOP_NAME +'</h5>' +
                                    '<span class="phone">TEL : '+ shopData.SHOP_PHONE +'</span>' +
                                    '<p>'+ shopData.SHOP_ADDR +'</p>' +
                                    '</div>' +
                                    '<div class="clearfix"> </div>' +
                                    '</div>';
                            },
                            error: function(request, status, error) {
                                console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                                console.log('Error occured');
                            }
                        });
                    });

                    if(i == 0) {
                        daum.maps.event.trigger(marker, 'click', '');
                    }

                    return marker;
                });

                // 클러스터러에 마커들을 추가합니다
                clusterer.addMarkers(markers);
            });
        }else {
            //user shop list data 가져오기
            userShopList(currentLat, currentLng);
        }
    }

    // 지도에 마커와 인포윈도우를 표시하는 함수입니다
    function displayMarker(currentMarkerPosition, currentMarkerImage) {
        map = new daum.maps.Map(document.getElementById('map'), { // 지도를 표시할 div
            center : currentMarkerPosition, // 지도의 중심좌표
            level : 8 // 지도의 확대 레벨
        });

        // 현재 위치 마커를 생성합니다
        var marker = new daum.maps.Marker({
            map: map,
            position: currentMarkerPosition,
            image: currentMarkerImage // 마커이미지 설정
        });
        marker.setMap(map);
    };

    function guidePapaShopLoad(shopLat, shopLng) {
        // 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
        var bounds = new daum.maps.LatLngBounds();

        var mouseEvent = {
            latLng: new daum.maps.LatLng(shopLat, shopLng)
        };

        daum.maps.event.trigger(map, 'click', mouseEvent);

        // LatLngBounds 객체에 좌표를 추가합니다
        bounds.extend(new daum.maps.LatLng(shopLat, shopLng));

        // LatLngBounds 객체에 추가된 좌표들을 기준으로 지도의 범위를 재설정합니다. 이때 지도의 중심좌표와 레벨이 변경될 수 있습니다
        map.setBounds(bounds);
    }

    //Shop List
    function userShopList(currentLat, currentLng) {
        var headers = {};
        headers["user_id"] = $("#userId").val();

        var initShopId = $("#initShopId").val();

        var dataString = {'current_lat': currentLat, 'current_lng': currentLng};
        $.ajax({
            url: $("#url").val() + '/map/v1.0/shopList',
            type: 'GET',
            headers : headers,
            dataType: 'json',
            data: dataString,
            success: function(data) {
                var shopData = data.shopListData;
                if(shopData.length == 0 || shopData[0].USER_ID == initShopId) {
                    $("#cooperatorList").val("papaShop");
                    changeShop();
                }else {
                    var mypositions = [];

                    for(var i=0; i<shopData.length; i++) {
                        mypositions[i] = {'index': i, 'lat': shopData[i].SHOP_LAT,'lng': shopData[i].SHOP_LNG,'stamp': shopData[i].USER_STAMP};
                    }

                    showClusterer(mypositions);
                }
            },
            error: function(request, status, error) {
                console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                console.log('Error occured');
            }
        });
    }

    function showClusterer(mypositions) {
        // 마커 클러스터러를 생성합니다
        var clusterer = new daum.maps.MarkerClusterer({
            map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
            averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
            minLevel: 8 // 클러스터 할 최소 지도 레벨
        });

        var selectedMarker = null;
        var changeImage = null;

        var markers = $(mypositions).map(function (i, position) {
            var convertStamp = position.stamp % 10;

            var imageSrc = '/images/my_point'+convertStamp+'.png';
            var clickImageSrc = '/images/select_point'+convertStamp+'.png';

            // 표시될 shop data
            var imageSize = new daum.maps.Size(35, 49), // 마커이미지의 크기입니다
                imageOprion = {offset: new daum.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
            var normalImage = new daum.maps.MarkerImage(imageSrc, imageSize, imageOprion);

            // 클릭된 shop data
            var clickImageSize = new daum.maps.Size(35, 49), // 마커이미지의 크기입니다
                clickImageOprion = {offset: new daum.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
            var clickImage = new daum.maps.MarkerImage(clickImageSrc, clickImageSize, clickImageOprion);

            var marker = new daum.maps.Marker({
                position: new daum.maps.LatLng(position.lat, position.lng),
                image: normalImage
            });

            daum.maps.event.addListener(marker, 'click', function () {
                if(selectedMarker == null) {
                    marker.setImage(clickImage);
                    changeImage = normalImage;
                }else if(selectedMarker !== marker) {
                    marker.setImage(clickImage);
                    !!selectedMarker && selectedMarker.setImage(changeImage);
                    changeImage = normalImage;
                }

                // 클릭된 마커를 현재 클릭된 마커 객체로 설정합니다
                selectedMarker = marker;
                var headers = {};
                headers["user_id"] = $("#userId").val();

                //shop data
                var dataString = {'current_lat': position.lat, 'current_lng': position.lng};
                $.ajax({
                    url: $("#url").val() + '/map/v1.0/shopData',
                    type: 'GET',
                    headers : headers,
                    dataType: 'json',
                    data: dataString,
                    success: function (data) {
                        var shopData = data.shopData;
                        var userId = data.userId;
                        var clickShopData = document.getElementById('map_list_wrap');
                        clickShopData.innerHTML = '';

                        clickShopData.innerHTML += '<div class="address-row">' +
                            '<div class="col-xs-2 address-left">' +
                            '<a href="/shop/v1.0/shopInfo/'+ shopData.SHOP_ID +'/'+userId+'"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>' +
                            '</div>' +
                            '<div class="col-xs-10 address-right">' +
                            '<a href="javascript:"><span class="icon" style="width:55px;height:55px;" onclick="guideLoad('+ position.lat + ',' + position.lng + ')"><img src="/images/map_load_pin.png" style="width:50px;">3</span></a>' +
                            '<h5 id="select_shop_name">' + shopData.SHOP_NAME + '</h5>' +
                            '   <span class="phone">TEL : ' + shopData.SHOP_PHONE + '</span>' +
                            '<p>' + shopData.SHOP_ADDR + '</p>' +
                            '</div>' +
                            '<div class="clearfix"> </div>' +
                            '</div>';
                    },
                    error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                        console.log('Error occured');
                    }
                });
            });

            if(i == 0) {
                daum.maps.event.trigger(marker, 'click', '');
            }

            return marker;
        });

        // 클러스터러에 마커들을 추가합니다
        clusterer.addMarkers(markers);
    }

    function guideLoad(lat, lng) {
        var shopLat = lat;
        var shopLng = lng;

        // 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
        var bounds = new daum.maps.LatLngBounds();

        var mouseEvent = {
            latLng: new daum.maps.LatLng(shopLat, shopLng)
        };

        daum.maps.event.trigger(map, 'click', mouseEvent);

        // LatLngBounds 객체에 좌표를 추가합니다
        bounds.extend(new daum.maps.LatLng(shopLat, shopLng));

        // LatLngBounds 객체에 추가된 좌표들을 기준으로 지도의 범위를 재설정합니다
        // 이때 지도의 중심좌표와 레벨이 변경될 수 있습니다
        map.setBounds(bounds);
    }

    // 지도 확대, 축소 컨트롤에서 확대 버튼을 누르면 호출되어 지도를 확대하는 함수입니다
    function zoomIn() {
        map.setLevel(map.getLevel() - 1);
    }

    // 지도 확대, 축소 컨트롤에서 축소 버튼을 누르면 호출되어 지도를 확대하는 함수입니다
    function zoomOut() {
        map.setLevel(map.getLevel() + 1);
    }
</script>

<!-- //cart-js -->
<!-- start-smooth-scrolling -->
<script src="/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
    $(function() {
        $(".scroll").click(function(event){
            event.preventDefault();

            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });

        $(".show-hide").click(function(){
            $(".show-hide-dropdown").toggle();
        });
    });
</script>
<!-- //end-smooth-scrolling -->

</body>
</html>