<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= wechatSendTitle %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/javascripts/jquery-1.11.2.min.js"></script>
	<script>
        $(function() {
            $('#btn_send').on(
                'click',
                function() {
                    if ($('#wechatId').val() == "") {
                        console.log('val', $('#wechatId').val());
                        alert('Wechat ID를 꼭 입력하세요!');
                        $('#wechatId').focus();
                        return;
                    }
                    if ($('#StartCn').val() == "" || $('#StartKr').val() == "" ) {
                        alert('출발지 주소 입력 해주세요.');
                        return;
                    }
                    if ($('#EndKr').val() == "" || $('#EndCn').val() == "") {
                        alert('도착지 주소 입력 해주세요.');
                        return;
                    }
                    $('#sendform').submit(); // 전송
                });

            $('#Taxi_send').on(
                'click',
                function() {

                    $('#sendform3').submit(); // 전송
                });

            $('#StartMessage_send').on(
                'click',
                function() {
                    if ($('#StartMessage').val() == "") {
                        alert('보내실문자를 입력하세요');
                        $('#StartMessage').focus();
                        return;
                    }
                    $('#sendform2').submit(); // 전송
                });

            $('#Find_Message_Btn').on(
                'click',
                function() {
                    $('#StartMessage').val("지금 요청하신 자료를 찾고 있습니다. 잠시만 기다려 주십시요.");
                    return;
                });
            $('#Delay_Message_Btn').on(
                'click',
                function() {
                    $('#StartMessage').val("요청하신 자료 찾기가 쉽지 않아 시간이 조금 더 걸릴 것 같습니다.");
                    return;
                });
            $('#Bye_Message_Btn').on(
                'click',
                function() {
                    $('#StartMessage').val("이용해주셔서 감사합니다. 즐거운 여행 되십시요.");
                    return;
                });

        });
	</script>
</head>
<body>
<div class="container">
	<div class="row">

		<h1><%= wechatSendTitle %></h1>

		<form action="/wechat/agentWechat" method="post" id="sendform"
			  class="form-inline">
			<input type="hidden" id="message" name="message" value="1">
			<table class="table table-condensed">

				<tr>
					<th width="100"><label for="wechatId">Wechat ID</label></th>
					<td><input type="text" name="wechatId" id="wechatId" size="50"
							   maxlength="12" class="form-control" value="mjmts" /></td>
				</tr>
				<tr>
					<th width="100"><label for="EndCn">EndCn</label></th>
					<td><input type="text" name="EndCn" id="EndCn" size="25"
							   maxlength="50" class="form-control"  value="ARRIVE ADDRESS"/>
						<!--</td>-->

						<!--<th width="10"><label for="EndKr">EndKr</label></th>-->
						<!--<td>-->
						<label for="EndKr" >EndKr</label>
						<input type="text" name="EndKr" id="EndKr" size="25"
							   maxlength="50" class="form-control" value="도착지 주소" /></td>
				</tr>
				<tr>
					<th width="100"><label for="LargeAddrCn">택시기사용중국어</label></th>
					<td><input type="text" name="LargeAddrCn" id="LargeAddrCn" size="100"
							   maxlength="100" class="form-control" value="택시기사용 중국어" /></td>

				</tr>

				<tr>
					<td colspan="2"><input type="button" id="btn_send" value="주소등록"
										   class="btn btn-primary" />  </td>
					<!--<td colspan="2"><input type="button" id="taxi_send" value="길찾기전송"-->
					<!--class="btn btn-primary" onclick="history.back();"/>-->

					</td>
				</tr>

			</table>
		</form>


		<form action="/wechat/agentWechat" method="post" id="sendform2"
			  class="form-inline">
			<input type="hidden" id="message" name="message" value="2">
			<table class="table table-condensed">
				<tr>
					<th width="100"><label for="wechatId">Wechat ID</label></th>
					<td><input type="text" name="wechatId" id="wechatId" size="50"
							   maxlength="12" class="form-control" value="mjmts" /></td>
				</tr>
				<tr>
					<th width="100"><label for="StartMessage">Message</label></th>
					<td><input type="text" name="StartMessage" id="StartMessage" size="100"
							   maxlength="100" class="form-control"  /></td>
				</tr>

				<tr>
					<td colspan="2"><input type="button" id="StartMessage_send" value="문자전송"
										   class="btn btn-primary"/>
						<!--</td>-->
						<!--<td colspan="2">-->
						<input type="button" id="Find_Message_Btn" value="찾는중"
							   class="btn btn-primary" />
						<!--</td>-->
						<!--<td colspan="2">-->
						<input type="button" id="Delay_Message_Btn" value="오래걸림"
							   class="btn btn-primary"/>
						<!--</td>-->
						<!--<td colspan="2">-->
						<input type="button" id="Bye_Message_Btn" value="종료인사"
							   class="btn btn-primary"/> </td>
				</tr>
			</table>
		</form>

		<form action="/wechat/agentWechat" method="post" id="sendform3"
			  class="form-inline">
			<input type="hidden" id="message" name="message" value="3">
			<table class="table table-condensed">
				<tr>
					<td colspan="2"><input type="button" id="Taxi_send" value="Taxi길찾기 전송"
										   class="btn btn-primary"    /> </td>
				</tr>
			</table>
		</form>

	</div>
</div>

</body>
</html>





