<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Couphone</title>
	<link rel='stylesheet' href='/css/style.css' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/js/jquery-1.11.2.min.js"></script>
	<script src="http://52.79.56.181:8070/socket.io/socket.io.js"></script>

	<script>
        $(function() {
            var getFollowerList = function(){
                var data = {
                    nickName : $('#nickName').text()
                };

                $.ajax({
                    url: 'http://nbnl.couphone.cn/wechat/getFollowerList',
                    type: 'POST',
                    data: data,
                    success: function (data) {
						console.log('data.data', data);
						console.log('!!data.data', !!data.data);
                        if(!!data.data){
                            $.each(data.data, function (index, value) {

                                var openId = value.USER_OPEN_ID;
                                var wechatId = value.USER_WECHAT_ID;
                                var dynamicDom = '<option value=' + openId + '>' + wechatId + '</option>';

                                $('#openIdTaxi').append(dynamicDom);
                                $('#openIdMessage').append(dynamicDom);
                            });
						}
                    },
                    error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                        console.log('Error occured');
                    }
                });
            }

            getFollowerList();

//            $('#openIdTaxi').click(function(){
//                $('#openIdTaxi').empty();
//                getFollowerList();
//			});

            $('#btnTaxi').click(function() {
                if ($('#endNameCn').val() == "") {
                    $('#alertTaxi').text('도착지 이름(중국어)를 꼭 입력하세요!');
                    $('#endNameCn').focus();
                    return;
                } else if ($('#endNameKr').val() == "") {
                    $('#alertTaxi').text('도착지 이름(한국어)를 꼭 입력하세요!');
                    $('#endNameKr').focus();
                    return;
                } else if ($('#endAddrCn').val() == "") {
                    $('#alertTaxi').text('도착지 주소(중국어)를 꼭 입력하세요!');
                    $('#endAddrCn').focus();
                    return;
                } else if ($('#endAddrKr').val() == "") {
                    $('#alertTaxi').text('도착지 주소(한국어)를 꼭 입력하세요!');
                    $('#endAddrKr').focus();
                    return;
                } else if ($('#translationAddrCn').val() == "") {
                    $('#alertTaxi').text('택시기사용 중국어를 꼭 입력하세요!');
                    $('#translationAddrCn').focus();
                    return;
                }

                var data = {
                    openId: $('#openIdTaxi').val(),
                    endNameCn: $('#endNameCn').val(),
                    endNameKr: $('#endNameKr').val(),
                    endAddrCn: $('#endAddrCn').val(),
                    endAddrKr: $('#endAddrKr').val(),
                    translationAddrCn: $('#translationAddrCn').val()
                };

                $.ajax({
                    url: 'http://nbnl.couphone.cn/wechat/sendTaxiMap',
                    type: 'POST',
                    data: data,
                    success: function (data) {
                        $('#endNameCn').val("");
                        $('#endNameKr').val("");
                        $('#endAddrCn').val("");
                        $('#endAddrKr').val("");
                        $('#translationAddrCn').val("");
                    },
                    error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                        console.log('Error occured');
                    }
                });
            });

            // 일반 메시지 전송
            $('#btnSendMessage').click(function () {
                if ($('#message').val() == "") {
                    $('#alertMessage').text('Message 를 꼭 입력하세요!');
                    $('#message').focus();
                    return;
                }

                var data = {
                    openId: $('#openIdMessage').val(),
                    message: $('#message').val()
                };

                $.ajax({
                    url: 'http://nbnl.couphone.cn/wechat/sendMessage',
                    type: 'POST',
                    data: data,
                    success: function (data) {
                        $('#message').val("");
                    },
                    error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                        console.log('Error occured');
                    }
                });
            });
        });
	</script>
	    
	    <script type ="text/javascript">
		var socket = io.connect('http://52.79.56.181:8070');

		$(function() {
		    $("#btnDeleteMessage").click(
			function() {
				socket.emit('nbnl server', 'historyWechatId, historyMessage');
				
				socket.on('nbnl agent', function (sodata) {
					$("#sendWechatId").text(sodata.historyWechatId);
			    		$("#sendMessage").text(sodata.historyMessage);
				}
				
				var dataString = {'historyWechatId': 'historyWechatId', 'historyMessage': 'historyMessage'}; 
				$.ajax({
				    url: 'http://nbnl.couphone.cn/wechat/historyMessage',
				    type: 'POST',
				    dataType: 'json',
				    data: dataString,
				    success: function(data) {
				    	console.log(data);
					    
					$("#sendWechatId").text(historyWechatId);
			    		$("#sendMessage").text(historyMessage);
				    },
				    error: function(request, status, error) {
					console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
					console.log('Error occured');
				    }
				})
			}
		    );
		});
	    </script>
</head>

<body>
<div class="container">
	<div class="row">

		<h1>Wechat Message Tool</h1>
		<label for="agentId" style="float: right; width: 15%;text-align: center;" id="nickName"><%= nickName %></label>

		<!--<form action="/wechat/sendTaxiMap" method="post" id="sendform" class="form-inline">-->
			<table class="table table-condensed">
				<tr>
					<th width="100"><label for="openIdTaxi" style="text-align: center;">Wechat ID</label></th>
					<!--<td><input type="text" name="openIdTaxi" id="openIdTaxi" size="50" maxlength="12" class="form-control" value="test02" /></td>-->
					<td><select name="openIdTaxi" id="openIdTaxi"></select></td>
				</tr>
				<tr>
					<td colspan="3">
						<label for="endNameCn" style="float: left; width: 15%;text-align: center;">도착지 이름 (중국어)</label>
						<input type="text" name="endNameCn" id="endNameCn" size="25"maxlength="50" class="form-control"  value="黄浦区" style="float: left; width: 35%;"/>
						<label for="endNameKr" style="float: left; width: 15%;text-align: center;">도착지 이름 (한국어)</label>
						<input type="text" name="endNameKr" id="endNameKr" size="25"maxlength="50" class="form-control" value="황보구" style="float: left; width: 35%;"/>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<label for="endAddrCn" style="float: left; width: 15%;text-align: center;">도착지 주소 (중국어)</label>
						<input type="text" name="endAddrCn" id="endAddrCn" size="25"maxlength="50" class="form-control"  value="黄浦区福州路70号" style="float: left; width: 35%;"/>
						<label for="endAddrKr" style="float: left; width: 15%;text-align: center;">도착지 주소 (한국어)</label>
						<input type="text" name="endAddrKr" id="endAddrKr" size="25"maxlength="50" class="form-control" value="황보구 복주로 70호" style="float: left; width: 35%;"/>
					</td>
				</tr>
				<tr>
					<td colspan="3"><label for="translationAddrCn">택시기사용 &nbsp;&nbsp;중국어&nbsp;</label>
					<input type="text" name="translationAddrCn" id="translationAddrCn" size="100" maxlength="100" class="form-control" value="黄浦区福州路70号" /></td>
				</tr>
				<tr><td colspan="3" id ='alertTaxi' style="color: red"></td></tr>
				<tr>
					<td colspan="2"><input type="button" id="btnTaxi" value="Taxi 지도 전송" style="height: 35px" class="btn btn-primary" />  </td>
				</tr>
			</table>
		<!--</form>-->

		<!--<form action="/wechat/agentWechat" method="post" id="sendform2"-->
			<table class="table table-condensed">
				<tr>
					<th width="100"><label for="openIdMessage">Wechat ID</label></th>
					<td><select name="openIdMessage" id="openIdMessage"></select></td>
				</tr>
				<tr>
					<th width="100"><label for="message">Message</label></th>
					<td><input type="text" name="message" id="message" size="100"
							   maxlength="100" class="form-control"  /></td>
				</tr>
				<tr><td colspan="3" id ='alertMessage' style="color: red"></td></tr>
				<tr>
					<td colspan="2"><input type="button" id="btnSendMessage" value="문자전송" style="height: 35px" class="btn btn-primary"/>
				</tr>
			</table>
			
			<table class="table table-condensed">
			    <tr>
			    	<tr>
					<td colspan="3"><input type="button" id="btnDeleteMessage" value="내용 삭제" style="float: right; height: 35px" class="btn btn-primary"/>
				</tr>
				<tr>
					<th width="100"><label for="complateWechatId">Wechat ID</label></th>
					<th width="100"><label for="complateMessage">Message</label></th>
					<th width="100"><label for="complateTime">Time</label></th>
				</tr>				
				<tr>
					<th width="100"><label for="sendWechatId" id="sendWechatId"></label></th>
					<th width="100"><label for="sendMessage" id="sendMessage"></label></th>
					<th width="100"><label for="sendTime" id="sendTime"></label></th>
				</tr>
			    </tr>
			</table>

		<!--</form>-->

		<!--<form action="/wechat/agentWechat" method="post" id="sendform3"-->
			  <!--class="form-inline">-->
			<!--<input type="hidden" id="message" name="message" value="3">-->
			<!--<table class="table table-condensed">-->
				<!--<tr>-->
					<!--<td colspan="2"><input type="button" id="Taxi_send" value="Taxi길찾기 전송"-->
										   <!--class="btn btn-primary"    /> </td>-->
				<!--</tr>-->
			<!--</table>-->
		<!--</form>-->

	</div>
</div>

</body>
</html>





