<!DOCTYPE html>
<html lang="en">
<head>
    <title>Best Food</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Staple Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<form style="display:none" name="current_data" id="current_data">

    <input type="hidden" name="shop_length" id="shop_length" value=""/>
    <input type="hidden" name="current_lat" id="current_lat" value=""/>
    <input type="hidden" name="current_lon" id="current_lon" value=""/>
    <input type="hidden" name="current_addr" id="current_addr" value=""/>
</form>

<form style="display:none" name="shop_addr_list" id="shop_addr_list">
</form>

<body>
<!-- banner -->
<div class="banner about-w3bnr">
    <!-- header -->
    <div class="header">
        <div class="w3ls-header"><!-- header-one -->
            <div class="container">
                <div class="w3ls-header-left">
                    <p>우리 동네 최고의 맛집</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //header-one -->
        <!-- navigation -->
        <div class="navigation agiletop-nav">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header w3l_logo">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a href="main">Befoo<span>Best Food Shop</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="main">Home</a></li>
                            <li><a href="contact.html" class="active">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //navigation -->
    </div>
    <!-- //header-end -->
    <!-- banner-text -->
    <div class="banner-text">
        <div class="container">
            <div class="help-search">
                <form action="#" method="post" style="font-size:50px;">
                    <input type="search" name="Search" placeholder="번호를 입력하세요" required="">
                </form>
            </div>

            <!-- order -->
            <div class="wthree-order">
                <div class="container" style="width:750px;float:left;">
                    <div class="order-agileinfo" style="margin-left:-150px;">
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:30%;margin:10px 0 10px;">
                            <div class="order-w3text">
                                <i class="fa fa-map" aria-hidden="true"></i>
                                <h5>Search Area</h5>
                                <span>1</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:30%;margin:10px 0 10px;">
                            <div class="order-w3text">
                                <i class="fa fa-cutlery" aria-hidden="true"></i>
                                <h5>Choose Food</h5>
                                <span>2</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:30%;margin:10px 0 10px;">
                            <div class="order-w3text">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <h5>Pay Money</h5>
                                <span>3</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:30%;margin:10px 0 10px;">
                            <div class="order-w3text">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                                <h5>Enjoy Food</h5>
                                <span>4</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:30%;margin:10px 0 10px;">
                            <div class="order-w3text">
                                <i class="fa fa-map" aria-hidden="true"></i>
                                <h5>Search Area</h5>
                                <span>5</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:30%;margin:10px 0 10px;">
                            <div class="order-w3text">
                                <i class="fa fa-cutlery" aria-hidden="true"></i>
                                <h5>Choose Food</h5>
                                <span>6</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:30%;margin:10px 0 10px;">
                            <div class="order-w3text">
                                <i class="fa fa-map" aria-hidden="true"></i>
                                <h5>Search Area</h5>
                                <span>7</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:30%;margin:10px 0 10px;">
                            <div class="order-w3text">
                                <i class="fa fa-cutlery" aria-hidden="true"></i>
                                <h5>Choose Food</h5>
                                <span>8</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:30%;margin:10px 0 10px;">
                            <div class="order-w3text">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <h5>Pay Money</h5>
                                <span>9</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:30%;margin:10px 0 10px;">
                            <div class="order-w3text">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                                <h5>Enjoy Food</h5>
                                <span style="font-size:4.5em;">Clear</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:30%;margin:10px 0 10px;">
                            <div class="order-w3text">
                                <i class="fa fa-map" aria-hidden="true"></i>
                                <h5>Search Area</h5>
                                <span>0</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:30%;margin:10px 0 10px;">
                            <div class="order-w3text">
                                <i class="fa fa-cutlery" aria-hidden="true"></i>
                                <h5>Choose Food</h5>
                                <span style="font-size:4.5em;">Back</span>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="container" style="width:350px;float:right;">
                    <img class="lazyOwl" src="/images/qr-code.png" title="Our latest gallery" alt="" style="width:80%;margin-bottom:3em;"/>
                    <h3 style="font-size:30px;color:white;padding-left:6px;margin-bottom:7em;"></i>https://wherearevent.com/</h3>
                    <span class="label label-danger" style="font-size:100px;border-radius:20px;padding-left:6px;">보내기</span>
                </div>
            </div>
            <!-- //order -->
        </div>
    </div>
</div>
<!-- //banner -->

<!-- //contact -->
<div class="copyw3-agile">
    <div class="container">
        <p>&copy; 2017 Staple Food. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>
<!-- //footer -->
<!-- cart-js -->
<script src="/js/minicart.js"></script>
<!-- //cart-js -->
<!-- start-smooth-scrolling -->
<script src="/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();

            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/bootstrap.js"></script>
</body>
</html>